@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('@radix-ui/colors/mauve-dark.css');

::-webkit-scrollbar {
  @apply size-2;
}
/* Scrollbar track */
::-webkit-scrollbar-track-piece {
  @apply rounded-full bg-[#dddddd] dark:bg-[#333333];
}
/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#5d73a5];
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --toolbar-bg-primary: #2678ca;
  --toolbar-bg-secondary: #3c3c3c;
  --toolbar-foreground: #fff;
  --toolbar-accent: #2678ca;
  --panel-text-accent: #fff;
  --panel-background: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
  :root {
    --background: 341 37% 95%;
    --foreground: 341 5% 10%;
    --card: 341 37% 90%;
    --card-foreground: 341 5% 15%;
    --popover: 341 37% 95%;
    --popover-foreground: 341 95% 10%;
    --primary: 341 95.4% 66.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 341 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 303 30% 85%;
    --muted-foreground: 341 5% 40%;
    --accent: 303 30% 80%;
    --accent-foreground: 341 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 341 5% 90%;
    --border: 341 30% 50%;
    --input: 341 30% 50%;
    --ring: 341 95.4% 66.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 341 37% 10%;
    --foreground: 341 5% 90%;
    --card: 341 37% 10%;
    --card-foreground: 341 5% 90%;
    --popover: 341 37% 5%;
    --popover-foreground: 341 5% 90%;
    --primary: 341 95.4% 66.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 341 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 303 30% 25%;
    --muted-foreground: 341 5% 60%;
    --accent: 303 30% 25%;
    --accent-foreground: 341 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 341 5% 90%;
    --border: 341 30% 50%;
    --input: 341 30% 50%;
    --ring: 341 95.4% 66.1%;
    --radius: 0.5rem;
  }
*/

@layer base {
  :root {
    --background: 219 37% 95%;
    --foreground: 219 5% 10%;
    --card: 219 37% 90%;
    --card-foreground: 219 5% 15%;
    --popover: 219 37% 95%;
    --popover-foreground: 219 95% 10%;
    --primary: 219 93% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 70%;
    --secondary-foreground: 0 0% 0%;
    /* --muted: 181 30% 85%; */
    --muted: 219 30% 70%;
    --muted-foreground: 219 5% 40%;
    /* --accent: 181 30% 80%; */
    --accent: 219 30% 70%;
    --accent-foreground: 219 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 219 5% 90%;
    --border: 219 30% 50%;
    --input: 219 30% 50%;
    --ring: 219 93% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 219 37% 10%;
    --foreground: 219 5% 90%;
    --card: 219 37% 10%;
    --card-foreground: 219 5% 90%;
    --popover: 219 37% 5%;
    --popover-foreground: 219 5% 90%;
    --primary: 219 93% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 20%;
    --secondary-foreground: 0 0% 100%;
    /* --muted: 181 30% 25%; */
    --muted: 219 30% 20%;
    --muted-foreground: 219 5% 60%;
    /* --accent: 181 30% 25%; */
    --accent: 219 30% 20%;
    --accent-foreground: 219 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 219 5% 90%;
    --border: 219 30% 50%;
    --input: 219 30% 50%;
    --ring: 219 93% 60%;
    --radius: 0.5rem;
  }
  .dark-editor {
    --accentBase: #0D1520;
    --accentBgSubtle: #111927;
    --accentBg: #0D2847;
    --accentBgHover: #003362;
    --accentBgActive: #004074;
    --accentLine: #104D87;
    --accentBorder: #205D9E;
    --accentBorderHover: #2870BD;
    --accentSolid: #0090FF;
    --accentSolidHover: #3B9EFF;
    --accentText: #70B8FF;
    --accentTextContrast: #C2E6FF;

    --baseBase: var(--mauve-1);
    --baseBgSubtle: var(--mauve-2);
    --baseBg: var(--mauve-3);
    --baseBgHover: var(--mauve-4);
    --baseBgActive: var(--mauve-5);
    --baseLine: var(--mauve-6);
    --baseBorder: var(--mauve-7);
    --baseBorderHover: var(--mauve-8);
    --baseSolid: var(--mauve-9);
    --baseSolidHover: var(--mauve-10);
    --baseText: var(--mauve-11);
    --baseTextContrast: var(--mauve-12);

    --admonitionTipBg: #003848;
    --admonitionTipBorder: #11809c;

    --admonitionInfoBg: #1d3a24;
    --admonitionInfoBorder: #3e7949;

    --admonitionCautionBg: #3f2700;
    --admonitionCautionBorder: #8f6424;

    --admonitionDangerBg: #500f1c;
    --admonitionDangerBorder: #b54548;

    --admonitionNoteBg: var(--mauve-4);
    --admonitionNoteBorder: var(--mauve-8);

    color: var(--foreground);
    --basePageBg: var(--panel-background);
    background: var(--basePageBg);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes cursorLabelFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
