@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  

  :root  {
    --background: 219 37% 95%;
    --foreground: 219 5% 10%;
    --card: 219 37% 90%;
    --card-foreground: 219 5% 15%;
    --popover: 219 37% 95%;
    --popover-foreground: 219 95% 10%;
    --primary: 219 93% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 70%;
    --secondary-foreground: 0 0% 0%;
    /* --muted: 181 30% 85%; */
    --muted: 219 30% 70%;
    --muted-foreground: 219 5% 40%;
    /* --accent: 181 30% 80%; */
    --accent: 219 30% 70%;
    --accent-foreground: 219 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 219 5% 90%;
    --border: 219 30% 50%;
    --input: 219 30% 50%;
    --ring: 219 93% 60%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 219 37% 10%;
    --foreground: 219 5% 90%;
    --card: 219 37% 10%;
    --card-foreground: 219 5% 90%;
    --popover: 219 37% 5%;
    --popover-foreground: 219 5% 90%;
    --primary: 219 93% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 30% 20%;
    --secondary-foreground: 0 0% 100%;
    /* --muted: 181 30% 25%; */
    --muted: 219 30% 20%;
    --muted-foreground: 219 5% 60%;
    /* --accent: 181 30% 25%; */
    --accent: 219 30% 20%;
    --accent-foreground: 219 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 219 5% 90%;
    --border: 219 30% 50%;
    --input: 219 30% 50%;
    --ring: 219 93% 60%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes cursorFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
